@font-face {
  font-family: "DancingScript";
  src: url("DancingScript.ttf");
}
body
{
  font-family: "DancingScript";
  background-color: #02010a;
}
header
{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 2.5%;
  color: white;
}
nav
{
  text-align: right;
  word-spacing: 5%;

}
#cabezera h1
{
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
 }

#navegacion a
{
  color: white;
}
#navegacion a:hover,#navegacion a:visited

{
  text-decoration: none;

}
@media (max-width:610px) {
  #navegacion
  {

    display: block
  }
}
#imagen-principal
{
  text-align: center;
  background-color: #82c3a6;

}
#imagen-principal img
{
  width: 46%;
}
#imagen-secundaria
{
  background-color: #d5c75f;
  border: 1px solid;
  display:flex;
}

#imagen-secundaria a
{
   margin: 0 auto;
}
@media (max-width:900px) {
  #imagen-secundaria
  {
    padding: 5%;
    display: grid;
  }
  #imagen-secundaria .modulo1
  {
   margin-left: 14%;
   margin-top: 5%;
   order: 1
  }
  #imagen-secundaria .modulo2
  {
    margin-left: 14% ;
    margin-top: 5%;
    order: 2;
  }
}
@media (min-width:900px) {

}
#imagenes img
{
  box-shadow: 2px 2px #02010a
}
#imagen-secundaria .imagen1
{
border: 2px solid black;
box-shadow: 2px 3px #82c3a6;
width: 90%
}
#imagen-secundaria .imagen2
{
border:2px solid black;
box-shadow:  3px 4px #82c3a6;
width: 90%

}
#imagen-secundaria .imagen1:hover
{
  transform: rotate(15deg);
}
#imagen-secundaria .imagen2:hover
{
  transform: translate3d(20px, -5px, 0)
}
footer
{
  background-color: #C6d5c5;
width: 100%
}
#divisor
{
  display: flex;
      margin: 0 auto;
      padding: 2%


}
.Contacto
{
  width: 25%;
  margin: 0 auto;
}
.Contacto a
{
  text-decoration: none;
}
.Terminos
{
  width: 25%;
  margin: 0 auto;
}
.Social
{
  width: 25%;
  margin: 0 auto;
}
.Derechos
{
  width:25%;
  margin: 0 auto;
}

@media (max-width:900px) {
  #divisor
  {
    display: grid;
  }
  #navegacion
  {
    text-align: center;
  }
  footer
  {
    text-align: center ;
  }

   #content
  {
    width: 100%;
    margin: 0

  }
}
@media (min-width:900px) {
  #content
  {
    width: 900px;
    margin-left: 20%;
    margin-right: 10%;
  }
}
