@font-face {
  font-family: "DancingScript";
  src: url("DancingScript.ttf");
}
@media (min-width:720px) {
  a
  {
    text-align: right;
  }

}
body
{
  margin: 10px;
  font-family: "DancingScript";
  background-color: #02010a;
}

header
{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  color: white;
}
#cabezera h1
{
  float: left;
  text-shadow: 2px 2px 2px #02010a;
  width: 100%
}
#navegacion a
{
  text-decoration: none;
  color: white;
text-align: center;
}
