@font-face {
  font-family: "DancingScript";
  src: url("DancingScript.ttf");
}
@media (max-width:900px) {
  #content
  {
    width: 100%;
    margin: 0
  }
  #cabezera h1
  {
    text-align: center;
  }
  #navegacion
  {
    text-align:center;
  }
  #galeria
  {
    margin: 0 auto;
  }
  #galeria .fila1,.fila2
  {
    padding-left: 20%
  }
  #galeria .fila1 img
  {
     width:70%;
  }
  #galeria .fila2 img
  {
     width:70%;
  }
  #Informacion
  {
    display: grid;
    text-align: center;
  }

}
@media (min-width:900px) {
  #content
  {
    margin-left: 20%;
    margin-right: 10%;
    width: 900px;
  }
  #cabezera h1
  {
    text-align: left;
  }
  .fila1
  {
    display: flex;
    margin-left: 5%;

  }
  #galeria .fila1 img
  {
    width: 20%;
    height: 10%;
    padding: 5%

  }
  .fila2
  {
    display: flex;
    margin-left: 5%;
  }
  #galeria .fila2 img
  {
    width: 20%;
    height: 10%;
    padding: 5%
  }
  #Informacion
  {
    display: flex;
  }

}
body
{
  font-family: "DancingScript";
  background-color: #02010a;
}
#cabezera
{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0 ;
  padding: 2.5%;
  color: white;
}
#cabezera h1
{
  text-shadow: 2px 2px #02010a;
  text-align: left;
}
nav
{
  text-align: right;
}
#navegacion a,#navegacion
{
  color: white;

  word-spacing: 10px;
}
#galeria
{
  background-color: #d5c75f;
}
#navegacion .link2
{
  text-decoration: none;
}
#galeria .paisaje1
{
  filter: blur(10px);
}
#galeria .paisaje3
{
  filter: sepia(90%);
}
#galeria .paisaje2,.paisaje4,.paisaje6
{
  filter: grayscale(100%);
}
footer
{
  background-color:  #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding: 2.5%;
}
#Informacion section
{
  padding: 2%
}
